#Irises#

Iris species classification

In [1]:
import pandas as pd
import numpy as np
import tensorflow as tf
from sklearn.tree import DecisionTreeClassifier

In [2]:
!pip install gdown
!gdown 1rgxtLSMBtFbtw9A3dc8aYoSF3JzPVnwR

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: gdown in /usr/local/lib/python3.7/dist-packages (4.4.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from gdown) (3.7.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from gdown) (4.64.0)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (from gdown) (4.6.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from gdown) (1.15.0)
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.7/dist-packages (from gdown) (2.23.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2022.6.15)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (3.0.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from requests[socks]->gdown) (1.7.1)
Downloading...
From: https://drive.google.com/uc?id=1rgxtLSMBtFbtw9A3dc8aYoSF3JzPVnwR
To: /content/Iris.csv
100% 5.11k/5.11k [00:00<00:00, 5.47MB/s]

In [3]:
fileinput = pd.read_csv('Iris.csv', delimiter=',') # https://www.kaggle.com/datasets/uciml/iris
fileinput = fileinput.drop(labels='Id',axis=1)

In [4]:
print(fileinput.head(), end='\n\n')
fileinput.describe()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

       SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count     150.000000    150.000000     150.000000    150.000000
mean        5.843333      3.054000       3.758667      1.198667
std         0.828066      0.433594       1.764420      0.763161
min         4.300000      2.000000       1.000000      0.100000
25%         5.100000      2.800000       1.600000      0.300000
50%         5.800000      3.000000       4.350000      1.300000
75%         6.400000      3.300000       5.100000      1.800000
max         7.900000      4.400000       6.900000      2.500000

In [5]:
fileinput = fileinput.sample(frac = 1) #shuffle data

In [6]:
print(fileinput.head())

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
11             4.8           3.4            1.6           0.2     Iris-setosa
36             5.5           3.5            1.3           0.2     Iris-setosa
22             4.6           3.6            1.0           0.2     Iris-setosa
141            6.9           3.1            5.1           2.3  Iris-virginica
144            6.7           3.3            5.7           2.5  Iris-virginica

In [7]:
data = fileinput.drop("Species", axis=1)
target = fileinput["Species"]
print(data)
print(target)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
11             4.8           3.4            1.6           0.2
36             5.5           3.5            1.3           0.2
22             4.6           3.6            1.0           0.2
141            6.9           3.1            5.1           2.3
144            6.7           3.3            5.7           2.5
..             ...           ...            ...           ...
114            5.8           2.8            5.1           2.4
145            6.7           3.0            5.2           2.3
112            6.8           3.0            5.5           2.1
64             5.6           2.9            3.6           1.3
102            7.1           3.0            5.9           2.1

[150 rows x 4 columns]
11         Iris-setosa
36         Iris-setosa
22         Iris-setosa
141     Iris-virginica
144     Iris-virginica
            ...
114     Iris-virginica
145     Iris-virginica
112     Iris-virginica
64     Iris-versicolor
102     Iris-virginica
Name: Species, Length: 150, dtype: object

In [8]:
#calculating sizes of training and validation sets
db_size = len(data) 
print(f"db_size = {db_size}")
train_ratio = 0.7
train_size = int(db_size * train_ratio)
val_size = db_size - train_size
print(f"train_size = {train_size}",
      f"val_size = {val_size}",  sep="\n")

db_size = 150
train_size = 105
val_size = 45

In [9]:
#validation data
val_x = data.iloc[train_size:]
val_y = target.iloc[train_size:]
#training data
train_x = data.iloc[:train_size]
train_y = target.iloc[:train_size]

In [11]:
model = DecisionTreeClassifier()

In [12]:
model.fit(train_x, train_y)

DecisionTreeClassifier()

In [13]:
#testing accuracy on validation set
model.score(val_x, val_y)

0.9555555555555556